@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');
$text1:'DM Serif Display', serif;
$text2:'Public Sans', sans-serif;
$color1:#000000;
$color2:#ffff;
$color3:#000000;
$color4:#DEF5FF;
$iconsize:1.12rem;
$textsize:0.923rem;